<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HireMe</title>
  </head>
  <body>
    <div class="jumbotron">
        <h2>HIREme</h2>
        <p>
            Your one stop solution for talent hiring.
        </p>
    </div>

</body>
</html>
